<configuration debug="false">

    <!-- FECHA -->
    <timestamp key="dateVarLog" datePattern="dd-MM-yyyy" />

    <!-- FORMATO SALIDA CONSOLA -->
    <appender name="consola"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file : %line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="salida" additivity="false">
        <appender-ref ref="consola" />
    </logger>

</configuration>